apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments-service
  namespace: payments
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payments-service
  template:
    metadata:
      labels:
        app: payments-service
    spec:
      containers:
      - name: payments
        image: fbdevygfwoiacr.azurecr.io/farmersbank/payments:v1
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: payments-service
  namespace: payments
spec:
  selector:
    app: payments-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer